/* importação de fonte */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');


/* resetar o css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ecf0f1;
}

.content {
  background-color: #fff;
  border-radius: 15px;
  width: 980px;
  height: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.content::before {
  content:"";
  position: absolute;
  background-color: #58af9b ;
  width: 40%;
  height: 100%;
  border-radius: 15px;

  /* left: 60%; */
}

.title {
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  text-transform: capitalize;
}

.title-primary {
  color: #fff;
  margin: 12px;
}

.title-second {
  color: #58af9b;
}

.description {
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
}

.description-primary {
  color: #fff;
  font-size: 14px;
  letter-spacing: 2px;
}
.description-second {
  color: #7f8c8d;
  letter-spacing: 1px;
}

.btn {
  border-radius: 15px;
  text-transform: uppercase;
  color: #fff;
  font-size: 11px;
  padding: 10px 50px;
  cursor: pointer;
  font-weight: bold;
  width: 150px;
  align-self: center;
  border: none;
  margin: 15px; 
  
}

.btn-primary {
  background-color: transparent;
  border: 1px solid #fff;
  margin: 15px;
  transition: background-color 0.3s;
}

.btn-primary:hover{
  background: #fff;
  color: #58af9b;
}

.btn-second {
  background-color: #58af9b;
  border: 1px solid  #58af9b;
  margin: 10px;
  transition: background-color 0.3s;
}

.btn-second:hover {
  background-color:  #fff;
  border: 1px solid #58af9b;
  color:#58af9b;
}

.first-content {
  display: flex;
  /* display: none; */
}

.first-content .second-column {
  z-index: 12;
}

.first-column {
  text-align: center;
  width: 40%;
  z-index: 10;
}

.second-column {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.list-social-media {
  display: flex;
}

.item-social-media {
  border: 1px solid #bdc3c7;
  border-radius: 50%;
  width: 35px;
  height:  35px;
  text-align: center;
  list-style-type: none;
  display: inline;
  float: left;
  line-height: 35px;   /*  centralizar item no círculo */
  margin:10px 10px 10px 2px;
}

.link-social-media {
  color: #95a5a6;
}

.link-social-media:hover .item-social-media{
  background-color: #58af9b;
  color: #fff;
  border-color:#58af9b;
  transition: background-color 1s;
}
.item-social-media a{
  color: #95a5a6;
  text-align: center;
}

.form {            
  display: flex;
  flex-direction: column;
  width: 55%;
}

.form input {
  height: 45px;
  width: 100%;
  border: none;
  background-color: #ecf0f1;
}

.label-input {
  display: flex;
  align-items: center;
  margin: 8px;
  background-color: #ecf0f1;
  border-radius: 20px;
  letter-spacing: 2px;
}



.icon-modify {
  color: #7f8c8d;
  padding: 0 5px;
}
 

/* SECOND CONTENT */
.second-content{
  position: absolute;
  display: flex;
}

.second-content .first-column {
  order:2;
  z-index: -1;
}

.second-content .second-column {
  order:1;
  z-index: -1;
}

.password {
  color: #34495e;
  font-size: 14px;
  text-align: center;
  margin: 5px;
  letter-spacing: 1px;

}
.password::first-letter {
  text-transform: capitalize;
}

textarea:focus, input:focus, select:focus {

  outline: 0;
} 

.sign-in-js .first-content.first-column
.sign-in-js .first-content .second-column {
  z-index: -1;
}

sign-in-js ,.second-content. .first-column
.sign-in-js ,.second-content.second-column {
  z-index: 11;
}

.sign-in-js .content::before {
  left: 60%;
}

.sign-in-js, .second-content .first-column

